*{
    margin: 0;
    padding: 0;
}

.message-per-set{
    background-color: rgb(26, 117, 255);
    color: white;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    align-self: flex-end;
}